:root {
  --paragraph-color: #f5f2fe;
  --button-color: #6c63ff;
  --text-grey: #4d4d4d;
}
body {
  margin: 60px auto;
  max-width: 750px;
}

h1,
h2,
h3 {
  display: flex;
  justify-content: center;
}

.hi {
  font-size: 46px;
  margin-bottom: 0px;
}
h1 {
  font-size: 45px;
  margin: 0;
}
.index-by-line {
  color: var(--text-grey);
  font-size: 24px;
  margin-top: 0;
}
.button-div {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.link-btn {
  border: solid 1px var(--button-color);
  border-radius: 5px;
  margin: 20px;
  padding: 20px 15px;
  text-decoration: none;
}
#contact-btn {
  background-color: var(--button-color);
  box-shadow: 0px 6px 7px 2px rgb(0 0 0 / 13%);
  color: white;
}
#about-btn {
  color: var(--button-color);
}

.about-links {
  color: var(--button-color);
  display: flex;
  justify-content: center;
}

.about-by-line {
  color: var(--text-grey);
  font-size: 24px;
  margin-top: 0;
}

.paragraph {
  display: flex;
  justify-content: space-between;
}
p {
  background-color: var(--paragraph-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

#contact {
  font-size: 40px;
  margin-top: 26px;
  margin-bottom: 0;
}

#email-address {
  font-size: 28px;
  margin-top: 0;
  text-decoration: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
